.chamada{
    background-color: rgb(104, 4, 104);
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background-color: black;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    color: darkblue;
    margin-bottom: 100px;
}
